body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Darkens the background image by 50% (adjust the alpha value as needed) */
  z-index: -1; /* Place the overlay below the content */
}

/* Apply a background image to the entire body of the document. */
body {
  background-image: url("./field.jpg"); /* The image used as a background. */
  background-repeat: no-repeat; /* The background image will not repeat. */
  background-attachment: fixed; /* The background image will not scroll with the page. */
  background-size: cover; /* The background image will cover the entire area of the element. */
}

/* Styling for the introduction text of the application. */
.header {
  font-family: grecian-light-face, serif;
  font-style: normal;
  font-weight: 400;
  text-align: center; /* The text is centered. */
  color: rgb(211, 211, 211); /* The color of the text. */
  font-size: 48px; /* The size of the text. */
  padding: 24px; /* The padding around the text. */
  margin-left: 21px; /* The margin to the left of the text. */
  padding-right: 100px; /* The padding to the right of the text. */
  padding-left: 100px; /* The padding to the left of the text. */
}
.intro {
  text-align: center; /* The text is centered. */
  color: rgb(211, 211, 211); /* The color of the text. */
  font-size: 24px; /* The size of the text. */
  padding: 0px; /* The padding around the text. */
  margin-left: 21px; /* The margin to the left of the text. */
  padding-right: 100px; /* The padding to the right of the text. */
  padding-left: 100px; /* The padding to the left of the text. */
}

/* Styling for the container that holds the player cards. */
.players {
  display: flex; /* The player cards are displayed using flexbox. */
  flex-wrap: wrap;/* The player cards will wrap onto the next line if there is not enough space. */
  flex-direction: row;
  align-items: center;/* The player cards are centered on the line. */
}

/* Styling for individual player cards. */
.player-card {
  width: 360px; /* The width of the card. */
  height: 450px; /* The height of the card. */
  margin: 10px; /* The margin around the card. */
  background-color: rgba(55, 157, 203, 0.6); /* The background color of the card. */
  border: solid 1px;/* The border around the card. */
  border-radius: 5px;/* The radius of the card's corners. */
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.68); /* The shadow effect around the card. */
  overflow: hidden; /* Any content that goes outside the card will be hidden. */
  position: relative; /* The card's position is set to relative so it can be moved using the transform property. */
  transition: transform 0.3s; /* Transition effect for the transform property. */
}

/* Styling for when a user hovers over a player card. */
.player-card:hover {
  transform: translateY(-5px); /* The card moves up 5 pixels when hovered over. */
}

/* Styling for the container that holds the player's image. */
.player-image-container {
  display: flex;
  justify-content: center;/* The image is centered. */
  align-items: center;/* The image is centered along the horizontal axis. */
  /* The image is centered along the vertical axis. */
  height: 300px; /* The height of the image container. */
  padding: 10px; /* The padding around the image. */
}

/* Styling for the player's image. */
.player-image {
  width: 250px; /* The width of the image. */
  height: 250px; /*The height of the image. */
  object-fit: cover;/* The image will cover the entire area of its container without distorting its aspect ratio. */
  display: grid;/* The image is displayed using CSS Grid. */
  margin-left: 0px;/* The margin to the left of the image. */
}

/* Styling for the player's details (name, breed, status). */
.player-details {
  flex-direction: column; /* The details are arranged in a column. */
  align-items: center; /* The details are centered along the vertical axis. */
  justify-content: center; /* The details are centered along the horizontal axis. */
  color: #000; /* The color of the details text. */
  font-size: 16px; /* The size of the details text. */
  text-align: center; /* The details text is centered. */
}
